<section id="portifolio">
  <h2>PORTIFÓLIO</h2>
  <div>
    <img src="../assets/portifolio.png" alt="portifolio" />
  </div>
  <p>
    Você já imaginou trabalhar sem uma caixa de e-mail? Difícil, né? Faz
    parte do onboarding da maioria das empresas a criação de um e-mail
    corporativo para um novo funcionário. Esse endereço se torna parte da
    identidade do colaborador e será sempre um elemento prioritário no seu
    dia. Afinal, o e-mail concentra informações importantes, guarda
    arquivos, permite realizar contatos internos e externos e a organizar as
    demandas diárias. Se você é gestor, essa ferramenta pode ser sua aliada,
    ainda que com alguns riscos que devem ser levados em conta. Por isso,
    vamos falar aqui sobre como gerenciar uma equipe por e-mail.
  </p>
</section>
