<section id="servico">
  <h2>SERVIÇOS</h2>
  <div>
    <img src="../assets/servico.png" alt="servico" />
  </div>
  <p>
    O que veio primeiro, o ovo ou a galinha? No caso de empresas de TI, essa
    pergunta é fácil de responder: a galinha. Isso, claro, se assumirmos que
    essa galinha é representada pela demanda a ser resolvida por um software
    – que seria o ovo. Porque não faz sentido desenvolver um sistema para só
    depois descobrir os problemas que ele vai resolver, certo? Os desafios
    vêm primeiro; e, para se estabelecer com exatidão o que o software
    deverá fazer para solucioná-los, é indispensável que se realize uma
    aprofundada análise de requisitos.
  </p>
</section>
