<section id="sobre">
  <h2>SOBRE</h2>
  <p>
    Comecemos pela definição. Como você leu acima, “gestão de TI” é uma
    abreviação para gestão de Tecnologia da Informação. De forma objetiva, serve
    para gerar valor a um negócio por meio do uso da tecnologia. E constitui-se
    do conjunto de atividades, projetos e metodologias que têm a finalidade de
    alinhar a TI de uma empresa ao seu planejamento e à sua estratégia.
  </p>
  <a type="button" class="botao" (click)="botaoClick()">ENTRE EM CONTATO</a>
</section>



